<div class="container mt-4">
  <h2 class="text-center mb-4">Statistiques</h2>
  <div class="row">
    <!-- Carte des produits -->
    <div class="col-md-6 mb-4">
      <div class="card statistics-card products">
        <div class="card-body text-center">
          <i class="bi bi-box card-icon"></i>
          <h5 class="card-title">Produits</h5>
          <p class="card-text">Nombre total de produits : {{ totalProducts }}</p>
        </div>
      </div>
    </div>

    <!-- Carte des commandes -->
    <div class="col-md-6 mb-4">
      <div class="card statistics-card orders">
        <div class="card-body text-center">
          <i class="bi bi-cart-check card-icon"></i>
          <h5 class="card-title">Commandes</h5>
          <p class="card-text">Nombre total de commandes : {{ totalOrders }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
