<nav class="sidebar bg-light p-1 vh-100">
  <div class="sidebar-header">
    <h5>Tableau de bord</h5>
    <p>Délices Sahariens</p>
  </div>
  <ul class="nav flex-column">
    <li class="nav-item">
      <a class="nav-link text-dark" routerLink="/admin/statistics" routerLinkActive="active">
        <i class="bi bi-bar-chart"></i> Dashboard
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-dark" routerLink="adminProduct" routerLinkActive="active">
        <i class="bi bi-box"></i> Produits
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-dark" routerLink="/admin/orders" routerLinkActive="active">
        <i class="bi bi-card-list"></i> Commandes
      </a>
    </li>

  </ul>
</nav>

